<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <style>
        .main-box {
            margin: 0;
            margin-top: 20px;
            padding: 34px 30px 60px;
            background: #ffffff;
            border-radius: 30px;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            min-height: 260px;
        }

        .inner-main-box {
            margin: 0;
            text-align: left;
        }

        .main-box h2 {
            margin: 0;
            font-size: 18px;
            font-weight: 600;
            color: #ffffff;
            padding: 5px 0px;
            background-color: #499fb6;
            border-radius: 15px;
            /*margin-bottom: 35px;*/
        }

        .main-box p {
            margin: 0;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 500;
        }
    </style>
</head>

<body style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    ">
    <div style="
        max-width: 680px;
        margin: 0 auto;
        padding: 20px 30px 60px;
        background: #f4f7ff;
        background-image: url(https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661497957196_595865/email-template-background-banner);
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
      ">

        <header>
            <table style="width: 100%;
            ">
                <tbody>
                    <tr style="height: 0;">
                        <td>
                            <img src="https://bttem.shyamfuture.in/assets/images/logo.png" alt="">
                            <img alt="" src="" height="30px" />
                        </td>
                        <td style="text-align: right;">
                            <span style="font-size: 16px; line-height: 30px; color: #ffffff; font-weight: bold;">{DATETIME}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </header>

        <main>
            <table style="width: 100%;">
                <tbody>
                    <tr style="height: 0;">
                        <td>
                            <div class="main-box">
                                <div style="width: 100%; max-width: 540px; margin: 0 auto;">
                                    <h2>
                                        TRIP
                                    </h2>
                                    <p>
                                        <b style="font-size:15px;"> {NAME}</b>
                                    </p>
                                    <div class="inner-main-box">
                                        <p>
                                            Trip No: <span style="font-weight: 600; color: #1f1f1f;"> {TRIP_NO}</span>
                                        </p>
                                        <p>
                                            Billing Company Name: <span style="font-weight: 600; color: #1f1f1f;"> {BILLING_COMPANY}</span>
                                        </p>
                                        <p>
                                            Trip Status: <span style="font-weight: 600; color: #1f1f1f;"> {TRIP_STATUS}</span>
                                        </p>
                                        <p>
                                            Mode Of Trip: <span style="font-weight: 600; color: #1f1f1f;"> {MODE_OF_TRIP}</span>
                                        </p>
                                        <p>
                                            Department: <span style="font-weight: 600; color: #1f1f1f;"> {DEPARTMENT}</span>
                                        </p>
                                        <p>
                                            Trip Type: <span style="font-weight: 600; color: #1f1f1f;"> {TRIP_TYPE}</span>
                                        </p>
                                        <p>
                                            Journey Date: <span style="font-weight: 600; color: #1f1f1f;"> {JOURNEY_DATE}</span>
                                        </p>
                                        <p>
                                            Source City: <span style="font-weight: 600; color: #1f1f1f;"> {SOURCE_CITY}</span>
                                        </p>
                                        <p>
                                            Destination: <span style="font-weight: 600; color: #1f1f1f;"> {DESTINATION}</span>
                                        </p>
                                        <p>
                                            Journey Purpose: <span style="font-weight: 600; color: #1f1f1f;"> {JOURNEY_PURPOSE}</span>
                                        </p>
                                        <p>
                                            Group Trip: <span style="font-weight: 600; color: #1f1f1f;"> {GROUP_TRIP}</span>
                                        </p>
                                        <p>
                                            No. Of Person: <span style="font-weight: 600; color: #1f1f1f;"> {NO_OF_PERSON}</span>
                                        </p>
                                    </div>

                                    <br /><span>Web: </span>{WEB_URL}
                                    <br /><span>Mobile: </span>{APP_URL}

                                    <br /><b style="font-size:15px;">Trip has been Requested.</b>
                                    <p style="letter-spacing: 0.56px; font-size: 14px;">
                                        Thank you for choosing Business Tour & Travel Expense Management System.
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <p style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 25px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          ">
                Need help? Ask at
                <a href="mailto:support@shyamfuture.com"
                   style="color: #499fb6; text-decoration: none;">support@shyamfuture.com</a>
                or visit our
                <a href="" target="_blank" style="color: #499fb6; text-decoration: none;">Help Center</a>
            </p>
        </main>

        <footer style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        ">
            <p style="
            margin: 0;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
            color: #434343;
          ">
                Business Tour & Travel Expense Management System
            </p>
            <p style="margin: 0; margin-top: 8px; color: #434343;">
                Premises no.03-319 Block, DH-6/11, Action Area 1D, Newtown, Kolkata, Chakpachuria, West Bengal 700156
            </p>
            <div style="margin: 0; margin-top: 16px;">
                <a href="" target="_blank" style="display: inline-block;">
                    <img width="36px" alt="Facebook"
                         src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661502815169_682499/email-template-icon-facebook" />
                </a>
                <a href="" target="_blank" style="display: inline-block; margin-left: 8px;">
                    <img width="36px" alt="Instagram"
                         src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661504218208_684135/email-template-icon-instagram" />
                </a>
                <a href="" target="_blank" style="display: inline-block; margin-left: 8px;">
                    <img width="36px" alt="Twitter"
                         src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661503043040_372004/email-template-icon-twitter" />
                </a>
                <a href="" target="_blank" style="display: inline-block; margin-left: 8px;">
                    <img width="36px" alt="Youtube"
                         src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661503195931_210869/email-template-icon-youtube" />
                </a>
            </div>
            <p style="margin: 0; margin-top: 16px; color: #434343;">
                Copyright © 2024 Company. All rights reserved.
            </p>
        </footer>
    </div>
</body>
</html>