<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
          rel="stylesheet" />

    <style>

        table {
            font-family: Verdana;
            border-collapse: collapse;
            width: 100%;
            font-size: 10px;
            font-weight: bold;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>

</head>
<body style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    ">
    <div style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #f4f7ff;
        background-image: url(https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661497957196_595865/email-template-background-banner);
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
      ">
        <header>
            <table style="width: 100%;">
                <tbody>
                    <tr style="height: 0;">
                        <td style="border: none;">
                            <!--<img alt=""
                            src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1663574980688_114990/archisketch-logo"
                            height="30px" />-->
                            <img alt=""
                                 src=""
                                 height="30px" />
                        </td>
                        <td style="text-align: right; border: none;">
                            <span style="font-size: 16px; line-height: 30px; color: #ffffff;">{DATETIME}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </header>

        <main>
            <div style="
            margin: 0;
            margin-top: 70px;
            padding: 20px 30px 70px;
            background: #ffffff;
            border-radius: 30px;
            text-align: center;
          ">
                <div style="width: 100%; max-width: 489px; margin: 0 auto;">

                    <p style="
                margin: 0;
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              ">
                        Hey! {NAME},
                    </p>
                    <p style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              ">
                        <h3 style="color:forestgreen;"> {QUOTATION} </h3>

                    </p>
                    <!--<p style="text-align: left;">
                        Trip No: <span style="font-weight: 600; color: #1f1f1f;"> {TRIP_NO}</span>
                    </p>
                    <p style="text-align: left;">
                        Trip Status: <span style="font-weight: 600; color: #1f1f1f;"> {TRIP_STATUS}</span>
                    </p>
                    <p style="text-align: left;">
                        Department: <span style="font-weight: 600; color: #1f1f1f;"> {DEPARTMENT}</span>
                    </p>
                    <p style="text-align: left;">
                        Source City: <span style="font-weight: 600; color: #1f1f1f;"> {SOURCE_CITY}</span>
                    </p>
                    <p style="text-align: left;">
                        Destination: <span style="font-weight: 600; color: #1f1f1f;"> {DESTINATION}</span>
                    </p>-->

                    <table>
                        <tr>
                            <td>Trip No:</td>
                            <td>{TRIP_NO}</td>
                        </tr>
                        <tr>
                            <td>Trip Status:</td>
                            <td>{TRIP_STATUS}</td>
                        </tr>
                        <tr>
                            <td>Department:</td>
                            <td>{DEPARTMENT}</td>
                        </tr>
                        <tr>
                            <td>Source City:</td>
                            <td>{SOURCE_CITY}</td>
                        </tr>
                        <tr>
                            <td>Destination:</td>
                            <td>{DESTINATION}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <p style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 90px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          ">
                Need help? Ask at
                <a href="mailto:support@shyamfuture.com"
                   style="color: #499fb6; text-decoration: none;">support@shyamfuture.com</a>
                or visit our
                <a href=""
                   target="_blank"
                   style="color: #499fb6; text-decoration: none;">Help Center</a>
            </p>
        </main>

        <footer style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        ">
            <p style="
            margin: 0;
            margin-top: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #434343;
          ">
                Business Tour & Travel Expense Management System
            </p>
            <p style="margin: 0; margin-top: 8px; color: #434343;">
                Premises no.03-319 Block, DH-6/11, Action Area 1D, Newtown, Kolkata, Chakpachuria, West Bengal 700156
            </p>
            <div style="margin: 0; margin-top: 16px;">
                <a href="" target="_blank" style="display: inline-block;">
                    <img width="36px"
                         alt="Facebook"
                         src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661502815169_682499/email-template-icon-facebook" />
                </a>
                <a href=""
                   target="_blank"
                   style="display: inline-block; margin-left: 8px;">
                    <img width="36px"
                         alt="Instagram"
                         src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661504218208_684135/email-template-icon-instagram" />
                </a>
                <a href=""
                   target="_blank"
                   style="display: inline-block; margin-left: 8px;">
                    <img width="36px"
                         alt="Twitter"
                         src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661503043040_372004/email-template-icon-twitter" />
                </a>
                <a href=""
                   target="_blank"
                   style="display: inline-block; margin-left: 8px;">
                    <img width="36px"
                         alt="Youtube"
                         src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661503195931_210869/email-template-icon-youtube" />
                </a>
            </div>
            <p style="margin: 0; margin-top: 16px; color: #434343;">
                Copyright © 2024 Company. All rights reserved.
            </p>
        </footer>
    </div>
</body>
</html>
